snippet	( "()" iA
(${1})${2}
endsnippet

snippet	[ "[]" iA
[${1}]${2}
endsnippet

snippet	{ "{}" iA
{${1}}${2}
endsnippet

snippet	" "quote"
"${1}"${2}
endsnippet

snippet	' "''"
'${1}'${2}
endsnippet

snippet	` "string template"
\`${1:pre}\$\{${2:mid}\}${3:pos}\`${4}
endsnippet

