snippet	(
(${1})${2}
endsnippet

snippet	[
[${1}]${2}
endsnippet

snippet	{
{${1}}${2}
endsnippet

snippet	"
"${1}"${2}
endsnippet

snippet	'
'${1}'${2}
endsnippet

snippet	`
\`${1:pre}\$\{${2:mid}\}${3:pos}\`${4}
endsnippet

